<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/allPages.css" />
<link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet" />
<script src="https://kit.fontawesome.com/e95a180832.js" crossorigin="anonymous"></script>
<link rel="icon" href="../../public/favicon.ico" type="image/x-icon" /> 
<title>Book-App</title>