body {
  background-color: rgba(188, 202, 201, 0.527);
  font-family: 'Alata', sans-serif;
  width: 67%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-around;
}
h1 {
  text-align: center;
  font-size: 2em;
}
button {
  padding: .5em 1em;
  border-radius: 1em;
  cursor: pointer;
}
.hide {
  display: none;
}
/* some of the shelf styling was done in-line because it uses database information, see index.ejs */
.shelf {
  display: flex;
  flex-direction: row;
  height: 50vh;
  overflow-y: auto;
  border: 3.5em solid;
  border-image: url(../img/woodTexture.jpg) 30 stretch;
  border-top: none;
  background-color: rgba(105, 35, 35, 0.685);
}
  .shelfLabel {
    margin: auto;
    text-align: center;
    position: relative;
    top: -1.5em;
    font-size: 2em;
    /* the margin-bottom should be half the font size to prevent the gap between shelves */
    margin-bottom: -1em;
    color: gold;
  }
.book {
  margin-top: 5%;
  min-width: 35%;
  margin-left: 1em;
  background-size: cover;
}
  .description {
    max-height: 25%;
    overflow: auto;
  }
  .detailsButton {
    position: relative;
    top: 90%;
    left: 33%;
    padding: .3em .5em;
    background-color: gold;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
  }


/* search form page */
#searchPageForm {
  width: 50%;
  margin: 20% auto;
  display: grid;
}
  #searchPageForm * {
    margin: 1%;
  }
  #searchPageForm section {
    display: flex;
    justify-content: space-around;
  }



/* search results page */
.searchResultsBook {
  background-color: rgba(165, 42, 42, 0.548);
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}
  .bookImage {
    margin: auto;
  }
  .bookTitle, .bookAuthor {
    text-align: center;
  }
  .bookDescription {
    width: 75%;
    margin: auto;
    max-height: 10em;
    overflow: auto;
  }
  .searchResultsBook *{
    margin-top: 1em;
  }
  .selectBookButton {
    color: red;
    margin: 1em auto;
  }

/* pop-up when you select a book */
#selectedBookForm {
  position: fixed;
  margin: auto;
  background-color: red;
}
  #selectedBookForm img {
    width: 33%;
    float: left;
  }
  #closeFormButton {
    padding: 3px;
    float: right;
    font-weight: bold;
  }
    #closeFormButton:hover {
      cursor: pointer;
    }


#bookDetailsPageContent {
  display: flex;
  flex-direction: column;
}
  #bookDeleteButton, #editBookButton {
    width: 25%;
    margin: auto;
  }
  #bookDetailsPageContent .bookDescription {
    height: unset;
  }