/* body {
  background-color: rgba(172, 189, 187, 0.527);
  font-family: 'Alata', sans-serif;
} */
/* p {
  background-color: brown;
  padding: 10px;
}
form {
  background-color: white;
}
h1 {
  background-color: white;
  padding: 10px;
  color: brown;
}
nav {
  color: white;
  background-color: brown;
}
article {
  background-color: brown;
}
button {
  background-color: brown;
} */