<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head.ejs %>
</head>

<body>
  <%- include ../partials/header.ejs %>
  
  <main id="bookDetailsPageContent">
    <h1>Books Details</h1>
    <%- include ../partials/bookInfo.ejs %>
  </main>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src='../js/app.js'></script>
</body>

</html>