<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head.ejs %>
</head>

<body>
  <%- include ../partials/header.ejs %>

  <h1 class="error">Uh Oh...</h1>
  <p class="error">Something went wrong.</p>
</body>

</html>