<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../partials/head.ejs %>
  <link rel="stylesheet" href="css/searchPages.css">
</head>

<body>
  <%- include ../partials/header.ejs %>

  <form id="searchPageForm" action="/search" method="post">
    <input type="text" name="searchText" placeholder="Enter a title or author" required>
    <section>
      <span>
        <input type="radio" name="searchType" value="title" checked required>
        <label>Title</label>
      </span>
      <span>
        <input type="radio" name="searchType" value="author" required>
        <label>Author</label>
      </span>
    </section>
    <button type="submit">Search!</button>
  </form>

</body>

</html>