<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/head.ejs %>
  <title>Search</title>
</head>

<body>
  <%- include ../partials/header.ejs %>

  <form action="/search" method="post">
    <input type="text" name="searchText" placeholder="Enter a title or author" required>
    <section>
      <label><span>Title</span>
        <input type="radio" name="searchType" value="title" required>
      </label>
      <label><span>Author</span>
        <input type="radio" name="searchType" value="author" required>
      </label>
    </section>
    <button type="submit">Search</button>
  </form>

</body>
</html>